@model Quanly.Models.framework.sanpham

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_Layoutadmin.cshtml";
}

<h2>Details</h2>

<div>
    <h4>sanpham</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.tensanpham)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tensanpham)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.giasp)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.giasp)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.soluong)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.soluong)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.hinhanh)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.hinhanh)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.mota)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.mota)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tinhtrang)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tinhtrang)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.danhmuc.tendanhmuc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.danhmuc.tendanhmuc)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id_sanpham }) |
    @Html.ActionLink("Back to List", "Index")
</p>
