@model IEnumerable<Quanly.Models.framework.sanpham>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layoutadmin.cshtml";
}

<h2>Sản Phẩm</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<table class="table">
    <tr>
        <th>
            Tên Sản Phẩm
        </th>
        <th>
            Giá Sản Phẩm
        </th>
        <th>
           Số Lượng
        </th>
        <th>
            Hình Ảnh
        </th>
        <th>
            Mô Tả
        </th>
        <th>
            Tình Trạng
        </th>
        <th>
            Danh Mục
        </th>
        <th>
            Chức Năng
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.tensanpham)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.giasp)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.soluong)
        </td>
        <td>
            <img src="~/Areas/assest/FileUpload/@Html.DisplayFor(modelItem => item.hinhanh)" style="height:60px;" />
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.mota)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tinhtrang)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.danhmuc.tendanhmuc)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id_sanpham }) |
            @Html.ActionLink("Details", "Details", new { id=item.id_sanpham }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id_sanpham })
        </td>
    </tr>
}

</table>
